<!-- 
    Dashboard Component Template

    This template defines the main layout for the animal adoption dashboard. 
    It includes: a filter sidebar, sorting controls, filtered or unfiltered animals list
     pagination controls, and a map modal for viewing animal locations

    The dashboard orchestrates data flow between child components and displays the correct
    UI state based on filtering, sorting, and pagination. 
 -->
<div class="container mt-4">
        <!-- Search Bar -->
    <div class="row mb-3">
        <div class="col-md-6">
            <app-search-bar (search)="onSearch($event)"></app-search-bar>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-12">
            
            <!-- Show search results or full list -->
            <app-animals-list
                [animals]="searchResults.length > 0 ? paginatedSearchResults : paginatedAllAnimals"
                [loading]="loading"
                (select)="openMap($event)">
            </app-animals-list>
        </div>
    </div>

    <!-- Pagination Controls -->
     <div class="row mt-4" *ngIf="!loading">
        <div class="col-12 d-flex justify-content-center">

            <nav>
                <ul class="pagination">
                    <!-- Previous Page -->
                     <li class="page-item" [class.disabled]="currentPage == 1">
                        <button class="page-link" (click)="prevPage()">Previous</button>
                     </li>

                    <!-- Page Numbers -->
                    <li
                        class="page-item"
                        *ngFor="let page of pageNumbers"
                        [class.active]="page == currentPage">
                        <button class="page-link" (click)="goToPage(page)">
                            {{ page }}
                        </button>
                    </li>

                    <!-- Next Page -->
                    <li class="page-item" [class.disabled]="isLastPage">
                        <button class="page-link" (click)="nextPage()">Next</button>
                    </li>

                </ul>
            </nav>
        </div>
     </div>
</div>

<!-- Map Modal -->
<app-map-modal
    *ngIf="isMapOpen && selectedAnimal"
    [animal]="selectedAnimal"
    (close)="closeMap()">
</app-map-modal>
